.component_answer {
    display: flex;
    color: black;
    margin: 8px;
    width: 90%;
    align-self: flex-start;
    align-items: start;
}

.tempo-widget-custom-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--elementsBorderRadius);
    border-top: var(--primary-color) 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

.tempo-widget-custom-form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 12px;
}

.tempo-widget-custom-form-input,
.tempo-widget-custom-form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tempo-widget-custom-form-input:focus,
.tempo-widget-custom-form-select:focus,
.tempo-widget-custom-form-multiselect:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 1px var(--primary-color);
}

.tempo-widget-custom-form-multiselect {
    height: auto;
}

.tempo-widget-custom-form-button {
    padding: 10px 15px;
    background-color: transparent;
    color: #007bff;
    border: 1px solid var(--primary-color);
    border-radius: var(--elementsBorderRadius);
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

.tempo-widget-custom-form-button-selected {
    padding: 10px 15px;
    border: 1px solid;
    border-radius: var(--elementsBorderRadius);
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--primary-color);
    color: #fff;
    border-color: #007bff;
}


.tempo-widget-custom-form-button-container {
    text-align: center;
    margin-top: 25px;
}

.tempo-widget-custom-form-submitbutton {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: var(--elementsBorderRadius);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}


.tempo-widget-custom-form-button-container {
    display: flex;
    justify-content: end;
}

.tempo-widget-custom-form-buttons {
    margin-bottom: 15px;
}

.tempo-widget-custom-form-inputfile {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    font-size: 12px;
}
