.tempo-widget-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.tempo-widget-options-container button {
    padding: 10px 5px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--elementsBorderRadius);
    cursor: pointer;
    margin: 3px;
    width: 100%;
    text-align: center;
    white-space: wrap; 
}

.tempo-widget-options-container button:hover {
    background-color: var(--primary-color-darkened);
}