:root {
  --primary-color: #0057ff;
  --answer-color: #f5f5f5;
  --top-distance: auto;
  --bottom-distance: auto;
  --right-distance: auto;
  --left-distance: auto;
  --trigger-size: 6vh;
  --chatBot-fontSize: 14px;
  --primary-color-darkened: #0346cb;
  --secondary-color-darkened: #d8d8d8;
  --primary-text-color: white;
  --secondary-text-color: #000000;
  --elementsBorderRadius: 8px;
  --innerHeight: auto;
  --active-widget: auto;
  --animation-translateY: auto;
  --animation-translateX: auto;
  --chat-suggestions-primary-color: #ced9f195;
  --chat-suggestions-secondary-color: rgb(48, 66, 204);
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

#chatbot_widget_logs {
  max-width: 800px;
  /* z-index: 999999; */
  position: relative;
}

#chatbot_widget_logs .containerChatBot_entire {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--chatBot-fontSize);
  display: var(--active-widget);
  background-color: white;
}

#chatbot_widget_logs .widget_container {
  width: 400px;
  position: fixed;
  /* top: var(--top-distance);
    bottom: var(--bottom-distance);
    right: var(--right-distance);
    left: var(--left-distance); */
  margin: 4vh;
  margin-bottom: 5%;
  /* transition: all 0.4s ease; */
  opacity: 0 !important;
  transform: translateY(0);
  border-radius: 1.7vh;
  background-color: rgb(250, 249, 249);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  z-index: 0;
  animation: none;
}


#chatbot_widget_logs .widget_container.active {
  top: var(--top-distance);
  bottom: var(--bottom-distance);
  right: var(--right-distance);
  left: var(--left-distance);
  margin-bottom: 8.5vh;
  padding-bottom: 0vh;
  opacity: 1 !important;
  transform: translateY(0px);
  /* animation: slideInAndBounce 0.25s cubic-bezier(0.68, -0.55, 0.265, 1) both; */
  animation: slideInAndBounce 0.25s;

  min-width: 480px;
  background-color: white;
  z-index: 99999999;
}

#chatbot_widget_logs .widget_container.hide {
  /* animation: slideOutAndFade 0.25s cubic-bezier(0.68, -0.55, 0.265, 1) both; */
  animation: slideOutAndFade 0.25s;
  z-index: -99999999999;
}

#chatbot_widget_logs .header_ChatBotWidget {
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  margin-left: 1vh;
  display: flex;
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 2.5vh;
  position: relative;
  animation: slideInAndBounce 0s cubic-bezier(0.68, -0.55, 0.265, 1.3) both;
  border-bottom: 1px solid #ced4da;
}

#chatbot_widget_logs .emailheader_ChatBotWidget {
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  /* margin-left: 1vh; */
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 2.5vh;
  position: relative;
  animation: slideInAndBounce 0s cubic-bezier(0.68, -0.55, 0.265, 1.3) both;
  border-bottom: 1px solid #ced4da;
}

#chatbot_widget_logs .header_ChatBotWidget-middlebox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chatbot_widget_logs .subtitle_ChatBotWidget {
  opacity: 0.6;
}

#chatbot_widget_logs .subtitle_div {
  margin-top: 0.6vh;
  align-items: center;
}

#chatbot_widget_logs .ai_icon {
  /* background-color: #0505058e; */
  background-color: var(--primary-color-darkened);
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  border-radius: 0.5vh;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#chatbot_widget_logs .left_arrow_container,
#chatbot_widget_logs .profile_photo_container {
  margin-right: 2.8vh;
  display: flex;
  align-items: center;
}

#chatbot_widget_logs .chat_content_logs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin: 17px;
  max-height: 50vh;
  overflow-y: auto;
  min-height: 350px;
  overflow-x: hidden;
  position: relative;
}

#chatbot_widget_logs .custom_hr {
  opacity: 0.3;
  margin-top: 5px;
  margin-bottom: 5px;
  border: auto;
  border-top: auto;
}


#chatbot_widget_logs .answer {
  display: flex;
  color: black;
  margin: 8px;
  max-width: 100%;
  align-self: flex-start;
  align-items: start;
}

#chatbot_widget_logs .answer-80 {
  display: flex;
  color: black;
  margin: 8px;
  max-width: 80%;
  align-self: flex-start;
  align-items: start;
  width: 100%;
}

#chatbot_widget_logs .first_answer {
  display: flex;
  color: black;
  margin: 8px;
  max-width: 90%;
  align-self: flex-start;
  align-items: center;
}

#chatbot_widget_logs .component_answer {
  display: flex;
  color: black;
  margin: 8px;
  width: 90%;
  align-self: flex-start;
  align-items: start;
}

#chatbot_widget_logs .answer_text {
  padding: 10px;
  max-width: 87%;
  border-radius: var(--elementsBorderRadius);
  font-weight: 520;
  background-color: var(--answer-color);
  color: var(--secondary-text-color);
  position: relative;
}

#chatbot_widget_logs .title-element-left {
  display: none;
  background-color: grey;
  color: white;
  position: absolute;
  top: -5px;
  left: -55px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 11px;
}

#chatbot_widget_logs .title-element-right {
  display: none;
  background-color: grey;
  color: white;
  position: absolute;
  top: -5px;
  right: -55px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 11px;
}

#chatbot_widget_logs .answer_text:hover .title-element {
  display: block;
}

#chatbot_widget_logs .answer_with_thumbs {
  display: flex;
  color: black;
  margin: 8px;
  max-width: 92%;
  align-self: flex-start;
  align-items: start;
}

#chatbot_widget_logs .answer_with_thumbs_logs {
  display: flex;
  color: black;
  max-width: 92%;
  align-self: flex-start;
  align-items: start;
}

#chatbot_widget_logs .answer_text_with_thumbs {
  padding: 10px;
  min-width: 65%;
  border-radius: var(--elementsBorderRadius);
  font-weight: 520;
  background-color: var(--answer-color);
  color: var(--secondary-text-color);
  white-space: pre-line;
  position: relative;
}

#chatbot_widget_logs .thumb-visible {
  cursor: default !important;
  pointer-events: none;
}

#chatbot_widget_logs .answer_text_div {
  animation: fade-in-classic 2s;

}

#chatbot_widget_logs .thumb-visible:hover {}

#chatbot_widget_logs .answer_text:hover {
  background-color: var(--secondary-color-darkened)
}

#chatbot_widget_logs .chatbotWidget_question {
  padding: 10px;
  margin: 8px;
  max-width: 80%;
  align-self: flex-end;
  background-color: var(--primary-color);
  border-radius: var(--elementsBorderRadius);
  max-width: 70%;
  backdrop-filter: brightness(100%);
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--primary-text-color);
  position: relative;
}

#chatbot_widget_logs .chatbotWidget_question_img {
  padding: 10px;
  margin: 8px;
  max-width: 80%;
  align-self: flex-end;
  border-radius: var(--elementsBorderRadius);
  max-width: 70%;
  backdrop-filter: brightness(100%);
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--primary-text-color);
  position: relative;
}

#chatbot_widget_logs .chatbotWidget_question_img img {
  border-radius: var(--elementsBorderRadius);
}

#chatbot_widget_logs .sending-question-text {
  /* padding: 10px; */
  margin-left: 8px;
  margin-right: 8px;
  max-width: 80%;
  align-self: flex-end;
  border-radius: var(--elementsBorderRadius);
  max-width: 70%;
  backdrop-filter: brightness(100%);
  overflow-wrap: break-word;
  word-break: break-word;
  color: grey;
  font-size: 10px;
}

#chatbot_widget_logs .chatbotWidget_question:hover {
  background-color: var(--primary-color-darkened);
}

#chatbot_widget_logs .reply_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
}


#chatbot_widget_logs .input_question {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  height: auto;
  resize: none;
  border: none;
  outline: none;
  font-size: 13px;
  border: none;
  width: 440px;
  height: 20px;
  line-height: 15px;
  z-index: 9999999999;


  overflow: hidden;
  transition: height 0.3s ease;
  padding-top: 5px;
}

#chatbot_widget_logs .send_audio_button {
  display: none;
}

#chatbot_widget_logs .send_audio_button,
#chatbot_widget_logs .send_button {
  margin-left: 10px;
  cursor: pointer;
}

#chatbot_widget_logs .send_audio_button,
#chatbot_widget_logs .send_button svg {
  fill: var(--primary-color);
}

#chatbot_widget_logs .send_audio_button:hover,
#chatbot_widget_logs .send_button svg:hover {
  fill: var(--primary-color-darkened);
  transform: scale(1.1);
}

.red-placeholder::placeholder {
  color: red;
}

.tempowidget-recording-icon {
  animation: tempo-recording-audio 2s infinite;

}

#chatbot_widget_logs .input_question :focus {
  outline: none;
  background-color: white;
  max-height: 20px !important;
}

#chatbot_widget_logs .input_question::placeholder {
  font-family: Helvetica;
  font-size: 12px;
}


#chatbot_widget_logs .tempoWidget-suggestedQuestions-div {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-div-external {
  position: fixed;
  bottom: 8.5vh;
  right: 2vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
  /* background-color: white;
      bottom: 10vh;
    padding: 1.3vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.7vh; */
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-option {
  padding: 10px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--chat-suggestions-primary-color);
  margin: 5px;
  width: fit-content;
  align-self: right;
  cursor: pointer;
  color: var(--chat-suggestions-secondary-color);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-option-external {
  padding: 10px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--chat-suggestions-primary-color);
  margin: 5px;
  width: fit-content;
  align-self: right;
  cursor: pointer;
  color: var(--chat-suggestions-secondary-color);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-option-external:hover {
  background-color: var(--chat-suggestions-secondary-color);
  color: var(--chat-suggestions-primary-color);
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-option-external-welcome {
  padding: 10px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--primary-color);
  margin: 5px;
  max-width: 250px;
  align-self: right;
  color: var(--primary-text-color);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}


#chatbot_widget_logs .tempoWidget-suggestedQuestions-option:hover {
  background-color: var(--chat-suggestions-secondary-color);
  color: var(--chat-suggestions-primary-color);
}

#chatbot_widget_logs .tempoWidget-suggestedQuestions-div-external-close {
  border-radius: 50%;
  background-color: #ced9f195;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

#chatbot_widget_logs .chat_trigger {
  fill: white;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 1vh;
  width: var(--trigger-size);
  align-items: center;
  justify-content: center;
  position: flex;
}

#chatbot_widget_logs .chat_trigger:hover {
  background-color: var(--primary-color-darkened);
}


#chatbot_widget_logs .trigger_container_arrow {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: var(--top-distance);
  bottom: var(--bottom-distance);
  right: var(--right-distance);
  left: var(--left-distance);
  margin: 2vh;
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transform: rotate(180deg);
  border-radius: 50%;
  z-index: 999999;
}

#chatbot_widget_logs .trigger_container_arrow.hidden {
  opacity: 1;
  transform: rotate(0deg);
  pointer-events: auto;
  cursor: pointer;
  border-radius: 50%;
}

#chatbot_widget_logs .trigger_container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: var(--top-distance);
  bottom: var(--bottom-distance);
  right: var(--right-distance);
  left: var(--left-distance);
  margin: 2vh;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50%;
  z-index: 999999;
}


#chatbot_widget_logs .trigger_container.hidden {
  opacity: 0;
  /* transform: rotate(0deg); */
  pointer-events: none;
  cursor: default;
  border-radius: 50%;

}

#chatbot_widget_logs .trigger_container:hover {
  transform: scale(1.1);
}

#chatbot_widget_logs .trigger_container_arrow:hover {
  transform: scale(1.1);
}


#chatbot_widget_logs .loading-text {
  white-space: nowrap;
  color: rgb(29, 29, 29);
  width: 0;
  animation: fade-in 2.5s infinite;
  background-color: var(--answer-color);
}

#chatbot_widget_logs .answer_loading_content {
  padding: 1.5vh;
  border-radius: var(--elementsBorderRadius);
  font-weight: 520;
  background-color: var(--answer-color);
  align-items: center;
}

#chatbot_widget_logs .profile-photo_ChatBot {
  margin-right: 2.0vh;
}

#chatbot_widget_logs .profile-photo_ChatBot_back {
  margin-right: 2.0vh;
  margin-top: 0.5vh;
  align-self: start;
  width: 10%;
}

#chatbot_widget_logs .pointer {
  cursor: pointer;
}

#chatbot_widget_logs .widgetchatbot_closebutton {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 2.5vh;
  align-items: end;
  width: fit-content;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.716);
  display: none;
}

#chatbot_widget_logs .widgetchatbot_betatag {
  cursor: pointer;
  position: absolute;
  right: 2.5vh;
  top: 3.5vh;
  background-color: #3498db2f;
  padding: 5px;
  color: rgb(0, 47, 255);
  border-radius: var(--elementsBorderRadius);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#chatbot_widget_logs .dot-elastic {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  animation: dot-elastic 1s infinite linear;
  margin-left: 15px;
  margin-right: 15px;
}

#chatbot_widget_logs .dot-elastic::before,
#chatbot_widget_logs .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

#chatbot_widget_logs .dot-elastic::before {
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  animation: dot-elastic-before 1s infinite linear;
}

#chatbot_widget_logs .dot-elastic::after {
  left: 12px;
  width: 6px;
  height: 6px;
  border-radius: var(--elementsBorderRadius);
  background-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  animation: dot-elastic-after 1s infinite linear;
}

#chatbot_widget_logs .hiperlinksTempo {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
}

/* CONTACT FORM */

#chatbot_widget_logs .chatbotwidgetPlaceHolder {
  font-family: Helvetica;
  font-size: 12px;
  margin-top: 2px;
}

.chatbotwidgetPlaceHolder::placeholder {
  font-size: 10px;

}

.chatBotWidgetModal {
  /* display: block; */
  z-index: 1;
  left: 0;
  top: 0;
  color: black;
  /* margin-left: auto;
    margin-right: auto; */
  /* width: 80%; */

  display: flex;
  margin: 8px;
  width: 90%;
  align-self: flex-start;
  align-items: start;
}

.chatBotWidgetModal-content {
  background-color: #fefefe;
  /* margin: 10% auto; */
  padding: 18px;
  padding-top: 5px;
  border: 1px solid #88888848;
  border-radius: var(--elementsBorderRadius);
  width: 100%;
}

.chatBotWidgetModal h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.chatBotWidgetModal form input,
.chatBotWidgetModal form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

.chatBotWidgetModal form textarea {
  resize: none;
}

.chatbotwidgetPlaceHolder:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.chatBotWidgetModal form button {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: var(--elementsBorderRadius);
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}

.chatBotWidgetModal-submitbutton {
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chatBotWidgetModal label {
  font-size: 10px;
  font-weight: 500;
  margin-left: 2px;
  margin-bottom: 4px;
  color: black
}

.chatBotWidgetModal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.attention_required_answer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5vh;
  width: 75%;
}

.attention_required_answer button {
  flex: 1;
  margin: 5px;
  padding: 7px 10px;
  border: none;
  border-radius: var(--elementsBorderRadius);
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 15vh;
}

.attention_required_answer button:hover {
  background-color: var(--primary-color-darkened);
}

.attention_required_answer button:last-child {
  background-color: #6c757da6;
}

.attention_required_answer button:last-child:hover {
  background-color: #4e5459;
}


.attention_required_answer_contacts {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5vh;
  width: 75%;
}

.attention_required_answer_contacts button {
  flex: 1;
  margin: 5px;
  padding: 6px 8px;
  border: none;
  border-radius: var(--elementsBorderRadius);
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  width: fit-content;
  justify-content: center;
}

.attention_required_answer_contacts svg {
  fill: var(--primary-text-color)
}

.attention_required_answer_contacts button:hover {
  background-color: var(--primary-color-darkened);
}

.tempoWidget-PhoneContactButton {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding-top: 3px;
  padding-bottom: 3px;
}

.tempoWidget-EmailContactButton {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding-top: 3px;
  padding-bottom: 3px;

}

.tempoWidget-PhoneContactButton img {
  margin-right: 5px;
}

.tempoWidget-EmailContactButton img {
  margin-right: 5px;
}

.submitedFormTextdiv {
  border-radius: var(--elementsBorderRadius);
  background-color: rgba(128, 128, 128, 0.305);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 12px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chatBotWidgetThumbs {
  display: flex;
  padding: 1vh;
  max-width: 10%;
  align-self: center;
}

.chatBotWidgetThumbs_thumb_up,
.chatBotWidgetThumbs_thumb_down {
  flex: 1;
  border: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--elementsBorderRadius);

}

.chatBotWidgetThumbs_thumb_up svg,
.chatBotWidgetThumbs_thumb_down svg {
  padding: 4px;
  border-radius: var(--elementsBorderRadius);

}

.chatBotWidgetThumbs_thumb_up :hover,
.chatBotWidgetThumbs_thumb_down :hover {
  background-color: rgba(206, 206, 206, 0.303);
}

.chatWidgetThumb_icon {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.chatWidgetThumb_icon:hover {
  opacity: 0.8;
}




/* ONE TIME PASSWORD COMPONENT  */

#chatbot_widget_logs .widgetOTPcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;

}

#chatbot_widget_logs .tempo-widget-otp-component {
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: var(--elementsBorderRadius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
}

#chatbot_widget_logs .tempo-widget-input-column {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#chatbot_widget_logs #tempo-widget-input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  font-size: 10px;
}


#chatbot_widget_logs #input-field:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#chatbot_widget_logs .tempo-widget-button-column {
  display: flex;
  align-items: center;
}

#chatbot_widget_logs .chatbotwidget_footer {
  border-top: 1px solid #ced4da;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  z-index: 2147483001;
}

#chatbot_widget_logs #submit-button {
  padding: 8px 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  cursor: pointer;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 13px;
}

#chatbot_widget_logs #submit-button:hover {
  background-color: var(--primary-color-darkened)
}

#chatbot_widget_logs #submit-button:active {
  background-color: var(--primary-color-darkened)
}

#chatbot_widget_logs .tempo-widget-input-label {
  font-size: 9px;
  font-weight: 500;
  color: #6c757d;
}


#chatbot_widget_logs .chat_content_logs::-webkit-scrollbar {
  width: 8px;
}

#chatbot_widget_logs .chat_content_logs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#chatbot_widget_logs .chat_content_logs::-webkit-scrollbar-thumb {
  background: #0000004c;
  border-radius: 4px;
}

#chatbot_widget_logs .chat_content_logs::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

#chatbot_widget_logs .chat_content_logs::-webkit-scrollbar-thumb:active {
  background: #333333;
}


/******* MESSAGES ***********/

#chatbot_widget_logs .chatbot-widget-requesthuman-container {
  margin-left: 10px;
}

#chatbot_widget_logs .chatbot-widget-requesthuman-label {
  font-size: 10px;
  color: grey;
  cursor: pointer;
}

#chatbot_widget_logs .chatbot-widget-answerTimer-container {
  margin-left: 10px;
}

#chatbot_widget_logs .chatbot-widget-answerTimer-label {
  font-size: 10px;
  color: grey;
  cursor: pointer;
}



/******* keyframes  *********/



@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in-classic {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInAndBounce {
  0% {
    /* transform: translateX(50%) translateY(50%); */
    transform: translateX(var(--animation-translateX)) translateY(var(--animation-translateY));
    opacity: 0;
  }

  70% {
    transform: translate(0%, 0%) scale(1);
  }

  100% {
    transform: translate(0%, 0%) scale(1);
  }
}


@keyframes slideOutAndFade {
  0% {
    top: var(--top-distance);
    bottom: var(--bottom-distance);
    right: var(--right-distance);
    left: var(--left-distance);
    margin-bottom: 8.5vh;
    padding-bottom: 0vh;
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    top: var(--top-distance);
    bottom: var(--bottom-distance);
    right: var(--right-distance);
    left: var(--left-distance);
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    opacity: 0;
    transform: translateX(var(--animation-translateX)) translateY(var(--animation-translateY));
  }
}


@keyframes tempo-recording-audio {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}


/* LOADER */


#chatbot_widget_logs .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 2;
}

#chatbot_widget_logs .loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spintempowidget 1s linear infinite;
}

@keyframes spintempowidget {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* START:: MY CSS */
#chatbot_widget_logs .containerChatBot_entire.bottom_left .trigger_container,
#chatbot_widget_logs .containerChatBot_entire.bottom_left .trigger_container_arrow.hidden,
#chatbot_widget_logs .containerChatBot_entire.bottom_left .widget_container.active {
  right: auto;
  left: 0;
}

/* TOP RIGHT */
#chatbot_widget_logs .containerChatBot_entire.top_right .trigger_container,
#chatbot_widget_logs .containerChatBot_entire.top_right .widget_container.active,
#chatbot_widget_logs .containerChatBot_entire.top_right .trigger_container_arrow.hidden {
  top: 0;
  bottom: auto;
}

#chatbot_widget_logs .containerChatBot_entire.top_right .widget_container.active {
  top: 60px;
  bottom: auto;
}

/* TOP left */
#chatbot_widget_logs .containerChatBot_entire.top_left .trigger_container,
#chatbot_widget_logs .containerChatBot_entire.top_left .widget_container.active,
#chatbot_widget_logs .containerChatBot_entire.top_left .trigger_container_arrow.hidden {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}

#chatbot_widget_logs .containerChatBot_entire.top_left .widget_container.active {
  top: 60px;
  bottom: auto;
}

#chatbot_widget_logs .containerChatBot_entire.bottom_right .trigger_container,
#chatbot_widget_logs .containerChatBot_entire.bottom_right .trigger_container_arrow.hidden,
#chatbot_widget_logs .containerChatBot_entire.bottom_right .widget_container.active {
  right: 0;
  left: auto;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  #chatbot_widget_logs .containerChatBot_entire.top_left .widget_container.active {
    top: 0px;
  }

  #chatbot_widget_logs .containerChatBot_entire.top_right .widget_container.active {
    top: 0px;
  }
}

.camera_icon_chatwidget_div {
  display: none;
}

@media screen and (max-width: 768px) {
  .camera_icon_chatwidget_div {
    display: block;
  }

  #chatbot_widget_logs .chatbot_widget_logs {
    max-height: 50vh;
  }

  #chatbot_widget_logs .chat_content_logs {
    max-height: 40vh;
  }
}


/***************** CUSTOM FORM *********************/

#chatbot_widget_logs .tempo-widget-custom-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--elementsBorderRadius);
  border-top: var(--primary-color) 2px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 10px;
}

#chatbot_widget_logs .tempo-widget-custom-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 12px;
}

#chatbot_widget .tempo-widget-custom-form-input,
#chatbot_widget .tempo-widget-custom-form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#chatbot_widget_logs .tempo-widget-custom-form-input:focus,
#chatbot_widget_logs .tempo-widget-custom-form-select:focus,
#chatbot_widget_logs .tempo-widget-custom-form-multiselect:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 1px var(--primary-color);
}

#chatbot_widget_logs .tempo-widget-custom-form-multiselect {
  height: auto;
}

#chatbot_widget_logs .tempo-widget-custom-form-button {
  padding: 10px 15px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid var(--primary-color);
  border-radius: var(--elementsBorderRadius);
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

#chatbot_widget_logs .tempo-widget-custom-form-button-selected {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #007bff;
}


#chatbot_widget_logs .tempo-widget-custom-form-button-container {
  text-align: center;
  margin-top: 25px;
}

#chatbot_widget_logs .tempo-widget-custom-form-submitbutton {
  width: 100%;
  background-color: grey;
  border: none;
  padding: 10px;
  border-radius: var(--elementsBorderRadius);
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  cursor: initial;
}


#chatbot_widget_logs .tempo-widget-custom-form-button-container {
  display: flex;
  justify-content: end;
}

#chatbot_widget_logs .tempo-widget-custom-form-buttons {
  margin-bottom: 15px;
}


#chatbot_widget_logs .custom-file-input-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#chatbot_widget_logs .custom-file-input-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Estilos para el input[type="file"] oculto */
#chatbot_widget_logs .custom-file-input-container input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

#chatbot_widget_logs .chatBotWidgetModal form input,
#chatbot_widget_logs .chatBotWidgetModal form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}