@tailwind base;
@tailwind components;
@tailwind utilities;

.img-div-1:hover {
  filter: brightness(0) saturate(78%) invert(77%) sepia(282%) saturate(707%)
    hue-rotate(510deg) brightness(51%) contrast(196%);
}

.img-platform {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.img-platform-1 {
  width: 90px !important;
  height: 74px ;
  object-fit: contain;
}
.img-platform-whatsapp{
  width: 90px;
  height: 80px ;
}
.rotate-180 {
  transition-timing-function: ease;
  transition-duration: 0.125s;
  transition-delay: 0.1s;
}

pre code.hljs {
  padding: 0 !important;
}

span.hljs-tag {
  font-size: 13px;
}
.img-div-2 {
  display: flex;
  align-items: center;
  width: 140px;
}
.img-div-2 img {
  object-fit: contain;
}

/* for icon_animation */
.animation_icon_section .col_section {
  padding: 184px 0px;
}
.leftimg_sec.animation2 {
  animation: shake 15s infinite;
}
.leftimg_sec.animation {
  animation: shake2 15s infinite;
}
.leftimg_sec.animation3 {
  animation: shake3 15s infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(5px);
  }
}
@keyframes shake2 {
  0%,
  100% {
    transform: translateY(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-5px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(5px);
  }
}
@keyframes shake3 {
  0%,
  100% {
    transform: translateY(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-3px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(3px);
  }
}

@media (max-width: 768px) {
  .img-div-2 {
    width: 120px;
  }
  .img-platform {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
  .img-platform-1 {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
  .animation_icon_section .col_section.content {
    padding: 0px 0px !important;
  }
  .animation_icon_section .col_section {
    padding: 75px 0px;
  }
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.my-side-hover {
  position: absolute;
  z-index: 9;
  top: -21px;
  width: 100%;
  left: 250px;
}

.selectdiv {
  position: relative;
}

select::-ms-expand {
  display: none;
}

.singleblog ol {
  list-style: auto !important;
}

.chat-scroll div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat-scroll div::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
.chat-scroll div::-webkit-scrollbar-thumb {
  background: rgb(18, 17, 66); 
  border-radius: 10px;
}

/* Handle on hover */
.chat-scroll div::-webkit-scrollbar-thumb:hover {
  background: #555; 
/* timer animation */
}
.rainbow {
  align-items: center;
  background-color: #fff;
  border: 1px solid #8e9297;
  border-radius: 500px;
  color: var(--glue-grey-700);
  display: flex;
  font-weight: 500;
  height: 52px;
  justify-content: center;
  padding: 0 24px;
  position: relative;
  white-space: nowrap;
  max-width: 321px;
}

.facet-pill-border {
  fill: none;
  border-radius: 500px;
  height: 52px;
  left: -1px;
  pointer-events: none;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.facet-pill-border rect {
  stroke: #1e293b;
  stroke-width: 4px;
  height: 52px;
  visibility: hidden;
  width: 100%;
  animation: opacityChange 12s linear;
}

@keyframes opacityChange {
  0% {
    stroke-dasharray: 400.373;
  }

  100% {
    stroke-dasharray: 920.373;
  }
}
.div-anima .bg-black + .rainbow .facet-pill-border rect,
.start-rainbow .facet-pill-border rect {
  visibility: visible !important;
}

.tabs.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .img-platform-whatsapp{
    height: 55px ;
  }
  .chatbot_widget {
    display: none;
  }
  .facet-pill-border rect {
    animation: opacityChange 12s linear;
  }
  .accordion__item:nth-child(2) .mobile_arroww .accordion__button:before,
  .accordion__item:nth-child(3) .mobile_arroww .accordion__button:before {
    display: none;
  }
  .active.start-rainbow{
    order: -2;
  }
  .border-animation{
    order: -1;
  }
  .trytempo a  {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

select {
  height: 45px !important;
  background-color: #fff;
}
.trytempo a {
  padding: 2rem;
}
.calendly-popup iframe {
  height: 105% !important;
}

.fade-in-image { animation: fadeIn 3s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  display: none;
}
.myparent input:hover+label {
  text-decoration: underline;
}


.desk_headermenupopup{
  display: none !important;
}
