@tailwind base;
@tailwind components;
@tailwind utilities;

.img-div-1:hover {
  filter: brightness(0) saturate(78%) invert(77%) sepia(282%) saturate(707%) hue-rotate(510deg) brightness(51%) contrast(196%);
}

.img-platform {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.rotate-180 {
  transition-timing-function: ease;
  transition-duration: 0.125s;
  transition-delay: 0.1s;
}

pre code.hljs {
  padding: 0 !important;
}

span.hljs-tag {
  font-size: 13px;
}
.img-div-2{
  display: flex;
  align-items: center;
  width: 140px;
}
.img-div-2  img{object-fit: contain;}


/* for icon_animation */
.animation_icon_section .col_section{
  padding: 184px 0px;
}
.leftimg_sec.animation2 {
  animation: shake 15s infinite;
}
.leftimg_sec.animation{
  animation: shake2 15s infinite;
}
.leftimg_sec.animation3{
  animation: shake3 15s infinite;
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(5px); 
  }
}
@keyframes shake2 {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(-5px); 
  }
  10%, 30%, 50%, 70%, 90%  {
    transform: translateY(5px); 
  }
}
@keyframes shake3 {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(-3px); 
  }
  10%, 30%, 50%, 70%, 90%  {
    transform: translateY(3px);
  }
}

@media (max-width: 768px) {
  .img-div-2{
    width: 120px;
  }
  .img-platform {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
  .animation_icon_section .col_section.content{
    padding: 0px 0px !important;
  }
  .animation_icon_section .col_section {
    padding: 75px 0px;
}
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.my-side-hover{

  position: absolute;
  z-index: 9;
  top: -21px;
  width: 100%;
  left: 250px;
}

.selectdiv {
  position: relative;
}

select::-ms-expand {
     display: none;
}





@media (max-width: 768px) {
.chatbot_widget {
  display: none;
}
.accordion__item:nth-child(2) .accordion__button:before, .accordion__item:nth-child(3) .accordion__button:before {
  display: none;
}

}

.filter_checkboxes input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
.filter_checkboxes input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:#e9e9e9;
}
.filter_checkboxes input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:#fff;
  color: #000;
}
.filter_checkboxes input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 6px;
  height: 13px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
  color: #000;
}
