.rdw-link-modal-target-option {
    display: none important !
}

.rdw-editor-toolbar {
    border: none !important;
    border-bottom: none !important
}

.rdw-link-decorator-wrapper {
    color: blue;
}