.custom-multiselect .dropdown-toggle {
    display: none;
}

.searchBox {
    border: none;
    font-size: 10px;
    width: 30px;
    background: white;
    position: absolute;
}

.searchBox::placeholder {
    color: rgba(255, 255, 255, 0.02);
}

body .searchWrapper {
    min-width: 100px;
    /* background-image: url("https://imgs.search.brave.com/oPYxp25oIVCgWMGeGebmp5DJE_aJfxc7UPvhB2ylaNw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA0LzU0Lzk0Lzc1/LzM2MF9GXzQ1NDk0/NzU5OF8wbmt6NXpX/SFNMdXFJQkdmRUVj/SUpKWDFWVG54ZHpp/dS5qcGc"); */
    background-image: none;
    background-color: white;
}