.faq-accordian .accordion__button{
    position: relative;
    border: none;

    /* border-top: 1px solid #000; */
    border-left: 0px !important;
    border-right: 0px;
    box-shadow: unset !important;
    background: transparent;
}
.faq-accordian .accordion__button:before {
    position: absolute;
    right: 0px;
    top: 20px;
}

.faq-accordian  .accordion {  
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.faq-accordian .accordion__panel {
    padding: 0 20px 13px 20px ;
}